{% load static %}
<section id="team" class="section-padding bg-gray">
  <div class="container">
    <div class="section-header text-center">          
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Time</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">
      {% for func in funcionarios %}
      <div class="col-lg-6 col-md-6 col-sm-12 mb-4 d-flex">
        <!-- Team Item Starts -->
        <div class="team-item wow fadeInRight mt-4 p-3 w-100" data-wow-delay="0.2s" style="background-color: #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
          <div class="team-img">
            <img class="img-fluid" src="{{ func.imagem.thumb.url }}" alt="{{ func.nome }}">
          </div>
          <div class="content">
            <div class="info-text">
              <h3><a href="#">{{ func.nome }}</a></h3>
              <p>{{ func.cargo }}</p>
            </div>
            <p>{{ func.bio }}</p>
            <ul class="social-icons">
              <li><a href="{{func.facebook}}"  target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
              <li><a href="{{func.twitter}}"   target="_blank"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
              <li><a href="{{func.instagram}}" target="_blank"><i class="lni-instagram-filled" aria-hidden="true" target=></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>
      {% endfor %}
    </div>
  </div>
</section>
